<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Agrega un nuevo activo</ion-card-subtitle>
    <ion-card-title>Creacion de Activos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    En este menu podras dar de alta un nuevo activo (Servidor, Switch, Firewall o NAS)
  </ion-card-content>

  <ion-card-content>
    <ion-item>
      <ion-label>Hostaname / IP </ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fiendly Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-card-content>

  <ion-button color="success">Save</ion-button>
</ion-card>
